body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14;
    width: 100;
    background-color: #000000;
  }
  
  h1 {
    position: absolute;
    left: 16px;
    top: 16px;
    color: #cfd6d9;
  }
  
  .lists {
    max-width: 100%;
    top: 85px;
    margin: 0 auto;
    display: block;
  }
  
  H2,
  h1 {
    margin-left: 3px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  h2 {
    color: #cfd6d9;
    line-height: 0.2;
  }
  
  .name {
    color: #6b7071;
    font-size: 14px;
    font-weight: 780;
    line-height: 1px;
    position: relative;
    right: 0;
    color: #515759;
    padding: 5px 8px;
  }
  
  .kanban {
    width: 20%;
    height: auto;
    margin: 1%;
    max-width: 270px;
    min-width: 100px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    flex-direction: column;
    min-height: 180px;
    z-index: 1;
    position: relative;
    background: rgb(28, 28, 28);
    padding: 1em;
    border-radius: 17px;
  }
  
  .items {
    display: block;
    position: relative;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 48px;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    min-height: 120px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: rgb(51, 51, 51);
    border-radius: 2px;
    box-sizing: border-box;
  }
  
  .title {
    align-self: flex-end;
    color: inherit;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 22px;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;
    outline: none;
  }

  .title3 {
    align-self: flex-end;
    color: inherit;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 22px;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;
    outline: none; 
  }
  
  .text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
    padding: 14px;
    width: 90%;
    outline: none;
  }
  
  .lists {
    position: relative;
    display: block;
    list-style: none;
  }
  
  .items {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: rgb(201, 201, 201);
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
    background: #b84da1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .items.purple {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: rgb(201, 201, 201);
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
    background: #7a67b8;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .items.red {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: rgb(201, 201, 201);
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
    background: #c33232;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .items.blue {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: rgb(201, 201, 201);
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
    background: #2b6cb1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .items.green {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: rgb(201, 201, 201);
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
    background: #198e6e;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .items:hover {
    background: #c654ad;
  }

  .items.purple:hover {
    background: #8873cd
  }

  .items.red:hover {
    background: #d43636;
  }

  .items.blue:hover {
    background: #2e75c1;
  }

  .items.green:hover {
    background: #1da581;
  }